@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 225 0.4% 6%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

.swiper {
  overflow: visible !important;
}

.swiper-pagination-bullets {
  top: initial;
  bottom: initial;
  bottom: -4rem !important; 
  z-index: 200 !important;
  gap: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
 background: #d9d9d9 !important;
 width: 0.75rem !important;
 height: 0.75rem !important;
}

.swiper-pagination-bullet-active {
  width: 1rem !important;
  height: 1rem !important;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}